# Setup

## Imports

In [1]:
import os
import json

In [2]:
from snowflake.snowpark import Session

In [3]:
import snowflake.snowpark.modin.pandas as pd

## Session

In [4]:
my_dir = os.getcwd()
connection_parameters = json.load(open(f'{my_dir}/creds.json'))
session = Session.builder.configs(connection_parameters).create()

session.use_database('DEMO_DB')
session.use_schema('PUBLIC')

In [5]:
pd.session = session

# Testing 1 - simple

## Load Data

In [9]:
%%time
application_record_sdf = pd.read_snowflake('APPLICATION_RECORD')
credit_record_sdf = pd.read_snowflake('CREDIT_RECORD')
print('Application table size\t: ', application_record_sdf.count(), 
      '\nCredit table size\t: ', credit_record_sdf.count())

Snowpark Pandas API always disables SQL simplifier. Run `session.sql_simplifier_enabled = False` to silence this warning.

Application table size	:  ID                     438557
CODE_GENDER            438557
FLAG_OWN_CAR           438557
FLAG_OWN_REALTY        438557
CNT_CHILDREN           438557
AMT_INCOME_TOTAL       438557
NAME_INCOME_TYPE       438557
NAME_EDUCATION_TYPE    438557
NAME_FAMILY_STATUS     438557
NAME_HOUSING_TYPE      438557
DAYS_BIRTH             438557
DAYS_EMPLOYED          438557
FLAG_MOBIL             438557
FLAG_WORK_PHONE        438557
FLAG_PHONE             438557
FLAG_EMAIL             438557
OCCUPATION_TYPE        304354
CNT_FAM_MEMBERS        438557
dtype: int32
Credit table size	:  ID                1048575
MONTHS_BALANCE    1048575
STATUS            1048575
dtype: int32
CPU times: user 158 ms, sys: 23.4 ms, total: 181 ms
Wall time: 8 s

In [12]:
len(application_record_sdf)

438557

In [13]:
application_record_sdf.head(5)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

## Transform Data

In [14]:
%%time
credit_record_sdf['CNT_LATE'] = credit_record_sdf['STATUS'].apply(lambda x: 1 if x in ['2', '3', '4', '5'] else 0)

WARNING:snowflake.snowpark.modin.pandas.utils.warning_message:The argument `convert_dtype` of `apply` has been ignored by Snowpark Pandas API:
convert_dtype is ignored in Snowflake backend.

CPU times: user 189 ms, sys: 27.6 ms, total: 217 ms
Wall time: 2.21 s

In [15]:
credit_record_sdf.dtypes

ID                 int64
MONTHS_BALANCE     int64
STATUS            object
CNT_LATE          object
dtype: object

In [19]:
%%time
credit_temp = credit_record_sdf.groupby(['ID']).sum()['CNT_LATE'].reset_index()

CPU times: user 55.3 ms, sys: 8.11 ms, total: 63.5 ms
Wall time: 538 ms

In [20]:
credit_record_sdf['CNT_LATE'].unique()

array([0, 1])

In [21]:
for col in application_record_sdf.columns:
    print(f'\nCol: {col}\n', application_record_sdf[col].unique())

Col: ID
 [5008804 5008805 5008806 ... 6841878 6842765 6842885]

Col: CODE_GENDER
 ['M' 'F']

Col: FLAG_OWN_CAR
 ['Y' 'N']

Col: FLAG_OWN_REALTY
 ['Y' 'N']

Col: CNT_CHILDREN
 [ 0  1  3  2  4  5 14 19  7  9 12  6]

Col: AMT_INCOME_TOTAL
 [ 427500.    112500.    270000.    283500.    135000.    130500.
  157500.    405000.    211500.    360000.    126000.    315000.
  247500.    297000.    225000.    166500.    216000.    255150.
  148500.    202500.     94500.    450000.    180000.     90000.
  765000.    382500.    144000.    229500.    292500.     74250.
   40500.    337500.    193500.    267750.    139500.     67500.
  252000.    900000.    115290.    279000.     76500.    234000.
   81000.    108000.     99000.    198000.     45000.    238500.
  117000.    153000.   1350000.    445500.    495000.     85500.
  306000.    562500.    189000.    328500.    310500.    540000.
  171000.    675000.    121500.     72000.     65250.    184500.
  103500.    162000.    165150.     54000.    243000.    256500.
   33300.    697500.    101250.     58500.    110250.    472500.
  196650.    630000.    432000.    257625.    143100.    207000.
  288000.    131400.    720000.    261000.     99900.     38250.
  175500.     49500.     83250.    119250.     63000.    274500.
   90900.    220500.     47250.    585000.    139050.     33750.
  145350.    173250.    531000.    387000.   1125000.     36000.
  179100.    206100.    265500.    118350.    123750.    116653.5
  133650.    324000.    351000.    441000.    227250.     51750.
  517500.    396000.    810000.    178650.    165600.     69750.
   46948.5   616500.    378000.     89550.    234135.     42300.
   74061.    175950.    168750.    215100.    391500.    177012.
  364500.    661500.    240750.    333000.    342000.    167400.
   50850.    141750.    176400.     30150.    155250.    414000.
   52650.    115200.     67050.    120150.    373500.    146250.
  213750.    121900.5   231750.    346500.    191250.    132372.
  159750.    132750.     91530.     97731.    170302.5   265581.
   73575.    184135.5   160200.    191700.    253800.     56700.
  369000.    176175.    134419.5   190399.5   716323.5    31500.
   57150.     78750.    236250.    208350.     38700.    222750.
   72900.     56250.     62653.5   113400.     92250.    607500.
  215550.     44550.    161100.    122400.     60376.5   254700.
  787500.    140400.    185400.     31950.    129150.    612000.
   47790.     69372.    134995.5   177750.    301500.    594000.
  164250.     60750.     45900.    171261.    128542.5   178200.
   73350.    124200.     82350.     38025.    360450.     39600.
  634500.    459000.     87750.    945000.    463500.    742500.
  151200.    560250.     89100.    204750.     36900.    187650.
   32400.    147150.    119700.     27000.    990000.     61875.
  355500.     79650.     37800.    140850.    195750.     29250.
  423000.    179271.     87448.5   326250.     31531.5   105750.
  468000.     97650.    114750.    418500.     95850.    652500.
 1575000.     74700.     62100.    494100.    249750.    150750.
  116100.    164133.     41400.    128250.     88650.    351891.
   70650.     48150.    134100.     42750.    173700.    167692.5
  119457.    215325.    426019.5   144450.   3825000.    217300.5
  115650.    101700.    504000.    319500.    353250.    127102.5
  209250.    122850.    198315.     30600.    203197.5    44100.
   92700.    174150.    170100.     75150.    318906.    341325.
   81900.    110187.    153900.     63900.    104998.5   127800.
  156141.    131913.    576000.     81373.5    88200.    125730.
  203400.     59400.    111150.    105552.   1035000.    128700.
  237600.     46350.    356625.    143248.5   155902.5   400500.
   51300.    263700.     55350.    109800.    371925.    246600.
  106200.    173160.    210150.    180598.5   183825.     91008.
   80325.    221247.    137700.    160294.5    27900.     40950.
  126450.    205200.    169200.    486000.     83700.    837000.
  181696.5   149796.    120784.5   513000.     46012.5   245896.02
   90712.62  336825.    107100.    173520.    126468.    142438.5
  144360.    352350.     96750.    111600.    113850.    105300.
  339750.    294300.    116658.     69300.    149850.    125100.
  196200.    108765.    170550.   1102500.     35550.    245250.
  117985.5   261900.     62550.     79200.    217908.    103149.
   74038.5    37350.     98100.    235849.5   166950.    190350.
   81450.    747000.    194400.    436500.    284850.    170910.
  210375.    315157.5   855000.     82948.5    43200.    190800.
   58950.    151425.     52200.     47304.    127350.    139455.
   34200.     43425.    187497.    130050.    283185.    165735.
  415813.5   153639.    159300.    751500.    241650.    187200.
  285750.    158400.    153495.     85050.    223200.    104611.5
   83479.5   153747.    183150.     86400.    105120.    727870.5
  454500.     32625.    131494.5   160560.    133200.    290250.
  161554.5   105975.    180234.    210600.     76050.     93010.5
  174442.5   100350.     61200.     41850.    218700.     51430.5
   68400.     77850.    477000.    167850.     84150.     48600.
  117324.    409500.     64350.    877500.    237150.    185985.
  219150.    105610.5   192600.     91800.    102150.    118800.
  179550.    160470.    114916.5   167242.5   320850.    186750.
  120753.    256405.5   177300.    194850.    117765.    303750.
  337050.    193950.    308250.   1080000.   3950059.5   108450.
  135256.5   171900.    434250.     66600.     50085.     54900.
   52425.    102600.     54450.     98419.5    32139.    123916.5
  378900.    371392.2    90612.   1215000.    555327.    178065.
   95400.    129748.5   125032.5   258750.     74475.     80550.
  164700.    100800.    200250.     78300.    155700.     84600.
  121950.    357750.     66150.     43884.    264901.5    71100.
  203998.5   141408.    325800.     85023.    126900.    146700.
   57600.     80100.    110700.    182250.    388350.    262800.
  293850.    147600.     54027.     74659.5    73368.    156150.
  112950.    348750.    186480.    394353.    170937.     74025.
   93150.    106650.    567000.    163260.     60300.    313650.
   78691.5    77719.5   107397.    225900.    218250.   3375000.
   43969.5   280498.5   359100.    175050.    733500.     55800.
  338746.5    69246.    141016.5    72450.    102024.     36679.5
   50400.    204025.5   936000.    160425.   1260000.    124650.
  144900.    224995.5   349875.     68481.    243675.     41211.
   70209.    442350.    103815.     91350.     47700.    621000.
  270540.    679500.    294750.    143932.5   129060.     33214.5
   89253.    189900.     68886.    499500.    217800.    262503.
  949500.    433350.    337545.    123300.    256050.    138150.
  358200.   1170000.    163800.     56740.5   571500.     68004.
 6750000.    197550.   1890000.   2214117.    158040.     85761.
   28800.   2025000.    230400.    280941.3   133461.     28723.5
  144904.5   103950.    311850.     99252.    104850.    117450.
  180900.    320400.    247891.5   117949.5    80397.     68850.
  161307.    711000.    191142.     87007.5    87925.5    43650.
  383400.     99238.5   294448.5   213601.5   182646.    161550.
  702000.    161149.5    90288.    137250.     58050.    142200.
   40306.5   118975.5    83128.5    82498.5   193684.5   132075.
  100629.     87300.     80761.5    63850.5    26100.    272250.
  427050.    107550.    108900.    312750.     70200.     63139.5
  141867.    196546.5   142650.     39150.    162900.    160650.
  151641.    240300.     92385.    250200.    221400.    251100.
  351900.   4500000.     81436.5   141606.    276750.     34875.
 1305000.    124978.5    78156.     87444.    198256.5   684000.
  362911.5   107752.5    99526.5   199273.5   104382.    152478.
   49549.5   103230.    227997.    148950.     51691.5   481500.
  313200.     65700.    217350.    312300.    660397.5    93550.5
  248400.    300600.    343350.     69642.    300379.5   242100.
  117900.    305779.5   403650.    130572.     56025.     98550.
   67950.    174807.    180117.     71748.    133564.5    33165.
  157635.    173088.    160780.5    67023.    115744.5    61650.
  522000.    182524.5    97200.    151276.5   123525.    193792.5
   94050.    235350.     82800.    300150.    438750.    223425.
   66330.    234900.    440100.    155403.    139986.    188550.
 1001826.    443250.    251212.5    93942.    174312.    107251.65
  285043.5   167490.    191475.     41989.5   106434.     41314.5
   94027.5   729000.     46800.    184869.    211050.     47353.5
  319275.    241200.    109603.35   65520.     77998.5   163350.
   29133.    112050.    443700.    128646.     89995.5   116550.
  886500.     45450.     41940.    460417.5   201150.    265950.
   96075.     75600.    346050.    706500.     82624.5  3150000.
  366750.    107437.5    64800.     82260.    289800.     37710.
   71550.    109341.    247621.5   157050.    307350.    273150.
  105840.     94950.    140814.    343800.    365850.    256950.
   83322.    127498.5   828000.     45346.5    73800.    286200.
  129600.    109899.     53140.5    83304.     37008.    580500.
  143550.   1800000.     93991.5    78664.5    36828.    403200.
  305550.    143739.    876276.    402750.     77400.    356850.
   76842.     49050.    445050.     32967.     84505.5    28350.
  321750.    100300.5   558000.    324805.5   267529.5    71172.
  374998.5    73624.5   221850.    171036.    133290.     58725.
   82534.5   355050.    103000.5   164430.    225765.     91188.
  143073.     54994.5 ]

Col: NAME_INCOME_TYPE
 ['Working' 'Commercial associate' 'Pensioner' 'State servant' 'Student']

Col: NAME_EDUCATION_TYPE
 ['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']

Col: NAME_FAMILY_STATUS
 ['Civil marriage' 'Married' 'Single / not married' 'Separated' 'Widow']

Col: NAME_HOUSING_TYPE
 ['Rented apartment' 'House / apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']

Col: DAYS_BIRTH
 [-12005 -21474 -19110 ...  -8169  -9738 -22257]

Col: DAYS_EMPLOYED
 [-4542 -1134 -3051 ... -8300 -9020 -4884]

Col: FLAG_MOBIL
 [1]

Col: FLAG_WORK_PHONE
 [1 0]

Col: FLAG_PHONE
 [0 1]

Col: FLAG_EMAIL
 [0 1]

Col: OCCUPATION_TYPE
 [None 'Security staff' 'Sales staff' 'Accountants' 'Laborers' 'Managers'
 'Drivers' 'Core staff' 'High skill tech staff' 'Cleaning staff'
 'Private service staff' 'Cooking staff' 'Low-skill Laborers'
 'Medicine staff' 'Secretaries' 'Waiters/barmen staff' 'HR staff'
 'Realty agents' 'IT staff']

Col: CNT_FAM_MEMBERS
 [ 2.  1.  5.  3.  4.  6. 15.  7. 20.  9. 11. 14.  8.]

In [22]:
credit_temp.head(5)

        ID  CNT_LATE
0  5001711       0.0
1  5001712       0.0
2  5001713       0.0
3  5001714       0.0
4  5001715       0.0

In [23]:
credit_temp.dtypes

ID            int64
CNT_LATE    float64
dtype: object

### While doing .apply() here it makes 'TARGET' column as Object. Need to convert to type Int

In [24]:
credit_temp['TARGET'] = credit_temp['CNT_LATE'].apply(lambda x: 1 if x > 0 else 0)
credit_temp.dtypes

ID            int64
CNT_LATE    float64
TARGET       object
dtype: object

In [25]:
%%time
credit_temp['TARGET'] = credit_temp['CNT_LATE'].apply(lambda x: 1 if x > 0 else 0).astype('int')
credit_cleaned = credit_temp.drop('CNT_LATE', axis=1).dropna()

CPU times: user 77.6 ms, sys: 11.8 ms, total: 89.4 ms
Wall time: 1.88 s

In [26]:
credit_temp['CNT_LATE'].unique()

array([ 0.,  5.,  1.,  2.,  3., 33.,  6.,  9.,  7., 15., 20., 11.,  4.,
       13., 22., 38., 14., 12.,  8., 10., 18., 39., 17., 40., 27., 21.,
       16., 48., 26., 19., 24., 31., 45., 43., 47., 23., 35.])

In [27]:
credit_temp['TARGET'].unique()

array([0, 1], dtype=int8)

In [28]:
arr = credit_cleaned['TARGET'].unique()

In [29]:
type(arr[1])

numpy.int8

In [30]:
%%time
credit_cleaned.isna().sum()

CPU times: user 32.7 ms, sys: 6.31 ms, total: 39 ms
Wall time: 392 ms

ID        0
TARGET    0
dtype: int8

In [ ]:
credit_cleaned.head(5)

In [ ]:
credit_cleaned.dtypes

In [ ]:
temp = credit_cleaned.limit(5).to_pandas()
temp

In [ ]:
temp.dtypes

In [ ]:
%%time
joined_sdf = application_record_sdf.merge(credit_cleaned, left_on='ID', right_on='ID', how='inner')

In [ ]:
%%time
joined_sdf.head(5)

In [ ]:
cols_numerical = ['AMT_INCOME_TOTAL', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'CNT_FAM_MEMBERS', 'TARGET']
cols_categorical = ['CODE_GENDER', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE']
joined_sdf = joined_sdf[cols_numerical+cols_categorical]

# General Testing on 500K Rows Table

## Where

Observations ->
1. .where doesn't work when column given inside and run on entire DF.

#### ** Where without column

In [16]:
%%time
application_record_sdf.where(application_record_sdf['AMT_INCOME_TOTAL'] > 200000)

CPU times: user 35.4 ms, sys: 3.94 ms, total: 39.3 ms
Wall time: 421 ms

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,None,None,None,None,None,427500.0,None,None,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,427500.0,None,None,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,270000.0,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,270000.0,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None
438553,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None
438554,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None
438555,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None
438556,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None

In [17]:
%%time
application_record_sdf['AMT_INCOME_TOTAL'].where(application_record_sdf['AMT_INCOME_TOTAL'] > 200000).head()

CPU times: user 29.9 ms, sys: 3.03 ms, total: 32.9 ms
Wall time: 387 ms

0    427500.0
1    427500.0
2         NaN
3    270000.0
4    270000.0
Name: AMT_INCOME_TOTAL, dtype: float64

In [18]:
%%time
application_record_sdf[application_record_sdf['AMT_INCOME_TOTAL'] > 200000].head()

CPU times: user 16 ms, sys: 2.03 ms, total: 18 ms
Wall time: 252 ms

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
5,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

## Merge

In [ ]:
%%time
df1 = application_record_sdf[['ID', 'AMT_INCOME_TOTAL']]
df2 = application_record_sdf[['ID', 'NAME_EDUCATION_TYPE']]
merged_data = df1.merge(df2, on='ID')

In [ ]:
merged_data.head()

## Sub

Subtract 10000 from DF compare gender salaries

In [ ]:
%%time
df1 = application_record_sdf[['CODE_GENDER','AMT_INCOME_TOTAL']]
df1 = df1.groupby('CODE_GENDER').mean()['AMT_INCOME_TOTAL'].astype('int')

In [ ]:
%%time
df1 = application_record_sdf[['CODE_GENDER','AMT_INCOME_TOTAL']]
df1 = df1.groupby('CODE_GENDER').mean()['AMT_INCOME_TOTAL'].astype('int')
df1

In [ ]:
%%time
df1

In [ ]:
print(df1)

In [ ]:
print(df1.head())

In [ ]:
%%time
df2 = application_record_sdf[['CODE_GENDER','AMT_INCOME_TOTAL']]
df2['AMT_INCOME_TOTAL'] = df2['AMT_INCOME_TOTAL'].sub(10000)

In [ ]:
%%time
df2 = df2.groupby('CODE_GENDER').mean()['AMT_INCOME_TOTAL'].astype('int')
print(df2.head())

In [ ]:
df1 - df2

## Groupby

Observations ->
1. Cannot get groups

#### ** Groups

In [ ]:
type(application_record_sdf)

In [ ]:
grouped_df = application_record_sdf.groupby('CODE_GENDER')
grouped_df.groups.keys() #doesnt work yet

#### Groupby + Agg

In [ ]:
%%time
application_record_sdf.groupby('NAME_EDUCATION_TYPE')['AMT_INCOME_TOTAL'].agg(['min', 'max', 'mean'])

In [ ]:
%%time
application_record_sdf.groupby('NAME_EDUCATION_TYPE').agg({'CNT_FAM_MEMBERS': 'max',
                                                           'AMT_INCOME_TOTAL': 'mean'})

In [ ]:
temp = application_record_sdf.groupby('NAME_EDUCATION_TYPE').agg({'CNT_FAM_MEMBERS': 'max',
                                                           'AMT_INCOME_TOTAL': 'mean'})

temp

#### Multi-level Grouping

In [ ]:
%%time
application_record_sdf.groupby(['NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS'])['AMT_INCOME_TOTAL'].mean().reset_index()

## ** Transform and Sort

In [ ]:
application_record_sdf.head()

In [ ]:
%%time
temp = application_record_sdf.copy()

In [ ]:
%%time
temp['AGE_YEARS'] = -temp['DAYS_BIRTH']

In [ ]:
%%time
temp['AGE_YEARS'] = temp['AGE_YEARS']/365

In [ ]:
%%time
temp['AGE_YEARS'] = temp['AGE_YEARS'].astype(int)

In [ ]:
%%time
temp = temp.sort_values(by='AGE_YEARS', ascending=False)

In [ ]:
temp.head()

## Pivot Table & Multiple Aggs

In [ ]:
%%time
application_record_sdf['AMT_INCOME_TOTAL'] = application_record_sdf['AMT_INCOME_TOTAL'].astype('int')
application_record_sdf.pivot_table(values='AMT_INCOME_TOTAL',
                                   index='NAME_EDUCATION_TYPE',
                                   columns='NAME_FAMILY_STATUS',
                                   aggfunc=['mean', 'max'])

## ** Conditional Assignment

In [ ]:
temp = application_record_sdf.copy()

In [ ]:
temp.head()

In [ ]:
%%time
temp['PERSON_DESC'] = ''
temp.loc[(temp['DAYS_BIRTH'] / -365 < 30) & (temp['AMT_INCOME_TOTAL'] > 200000), 'PERSON_DESC'] = 'Young High Earner'
temp.loc[(temp['DAYS_BIRTH'] / -365 > 30) & (temp['AMT_INCOME_TOTAL'] <= 200000), 'PERSON_DESC'] = 'Older Low Earner'

In [ ]:
temp.head()

## ** Merging and Sub Two Cols

In [ ]:
application_record_sdf

In [ ]:
%%time
df1 = application_record_sdf[['ID', 'DAYS_BIRTH']]
df2 = application_record_sdf[['ID', 'DAYS_EMPLOYED']]

In [ ]:
%%time
merged_data = df1.merge(df2, on='ID', how='left').fillna(0)

In [ ]:
%%time
merged_data['DAYS_BEFORE_JOB'] = merged_data['DAYS_EMPLOYED'] - merged_data['DAYS_BIRTH']

In [ ]:
%%time
merged_data.head()

## ** Resampling (Requires Datetime Conversion):

In [ ]:
%%time
df1 = application_record_sdf.copy()

In [ ]:
%%time
df1['DAYS_BIRTH'] = -df1['DAYS_BIRTH']

In [ ]:
%%time
df1['DOB'] = pd.to_datetime(df1['DAYS_BIRTH'], origin='1900-01-01', unit='D')

In [ ]:
df1.head()

In [ ]:
%%time
df1['DOB_YEAR'] = df1['DOB'].dt.year

In [ ]:
%%time
df1.groupby('DOB_YEAR')['DOB'].count().sort_values(ascending=False)

#### Pandas

In [ ]:
df1_pandas = df1.to_pandas()

In [ ]:
len(df1_pandas)

In [ ]:
%%time
df1_pandas['DOB'].dt.year

## Column Rename, Head, and Filter

In [ ]:
%%time
df1 = application_record_sdf.copy()

In [ ]:
df1.head()

In [ ]:
%%time
df1 = df1.rename(columns={'FLAG_EMAIL': 'HAS_EMAIL'})

In [ ]:
%%time
df1.loc[df1['HAS_EMAIL'] == 1].head()